# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Copy of AI & ML - OVERALL NAME LIST.xlsx
NAME_LIST.csv
__pycache__/main.cpython-313.pyc
backend/checkpoints
backend/LightCNN
backend/Test
backend/Data